@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
}

:root {
  --background: #f8f7f4;
  --foreground: #f8f7f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f7f4;
    --foreground: #f9fafb;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.social-links li {
  border-radius: 50px;
  border: solid 1px rgba(128, 128, 128, 0.3);
  padding: 5px;
}

.social-links li:hover {
  background-color: rgb(255, 255, 255);
}

.embla {
  overflow: hidden;
  width: 100%;
  padding: 0 20px;
}

.embla__container {
  display: flex;
  gap: 10px;
}

.embla__slide {
  flex: 0 0 80%;
  justify-items: center;
  justify-content: center;
}

@layer base {
  .container {
    @apply mx-auto px-4 md:px-6 lg:px-8;
    max-width: 1200px;
  }
}

input,
textarea,
select {
  color: #000000 !important; 
  background-color: white !important; 
}

input::placeholder,
textarea::placeholder {
  color: #6b7280 !important; 
  opacity: 0.7;
}


