@import "tailwindcss";

:root {
  --background: #dadada;
  --foreground: #1b962b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fd6c6c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.social-links li {
  background-color: rgb(222, 221, 221);
  border-radius: 50px;
  border: solid 1px gray;
  padding: 5px;
}

.social-links li:hover {
  background-color: rgb(255, 255, 255);
}

